
html, body {
  font-family: '나눔고딕', sans-serif;
/*
  	background-image: url(image/tumblr_nl100tBSjw1txe8seo1_500.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
}

.main{
	position: relative;
	width: 100%;
	height: 100vh;
}

.Menu_po{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}


.anim1{
	animation: layer1Anim 10s infinite;
}

.anim2{
	animation: layer2Anim 10s infinite;
}

.anim3{
	animation: layer3Anim 10s infinite;
}

@keyframes layer1Anim {
    25%{opacity:1;}
    35%{opacity:0;}
    80%{opacity:0;}
    90%{opacity:1;}
}

@keyframes layer2Anim {
	0%{opacity:0;}
    25%{opacity:0;}
    35%{opacity:1;}
    55%{opacity:1;}
    65%{opacity:0;}
    100%{opacity:0;}
}

@keyframes layer3Anim {
	0%{opacity:0;}
    65%{opacity:0;}
    75%{opacity:1;}
    90%{opacity:1;}
    100%{opacity:0;}
}

.inMenu{
	position: relative;
	max-width: 1000px;
	height: 100vh;
	margin: auto;
}

.main_1_innor{
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.main_1_innor img{
	display: block;
	margin: auto;
}

.logo_text{
	position: relative;
	font-color: #484848;
	margin-top: 20px;
	size: 1.3rem;
	line-height: 1.8rem;
	text-align: center;
}

.main_2_innor{
	position: relative;
	margin: auto;
	height: 100vh;
}

.bg{
	position: absolute;

	width: 31.25rem;
	height: 40.75rem;
	margin: auto;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.bg img{
	position: absolute;
	z-index: -1;
}

.intro{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(image/pg3.png);

	position: absolute;

	width: 95%;
	height: 95%;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.profill_2{
	position: relative;
	text-align: center;
	background-color: rgba(230,230,230,0.7);
	height: 100%;
}

.profill_2_innor{
	position: absolute;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.profill_2 h1{
	font-family: '나눔고딕Bold', sans-serif;
	padding-bottom: 3.3rem;
	font-size: 2.2rem;
	color: white;
}

.profill_2 p{
	margin-top: 2.6rem;
	font-size: 1.2rem;
	color: white;
}

.introduce{
	position: relative;
	background-color: #d8d7d4;
	text-align: center;

	background-image: url(image/intro.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

	.introduce_text_zone{
		position: relative;
		max-width: 800px;
		padding-top: 3rem;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.introduce_text_zone h1{
		font-family: '나눔고딕Bold', sans-serif;
		font-size: 3.75rem;
		color: white;
	}

	.introduce_text_zone_text{
		font-family: '나눔고딕', sans-serif;
		text-align: left;
		margin-top: 2.5rem;
		font-size: 1.25rem;
		line-height: 2.5rem;
		color: white;
	}

	.introduce_button{
		margin-top: 2rem;
		padding-bottom: 40px;
	}

	.introduce_button_innor{
		text-decoration: none;
		color: #d8d7d4;
		font-size: 2.0rem;
		margin: auto;

		display: inline-block;
		text-align: center;
		line-height: 5rem;
		margin-right: 1.25rem;
		width: 15.6rem;
		height: 5rem;
		background-color: white;

		margin-bottom: 1.5rem;
	}

.Photfolio{
	position: relative;
	text-align: center;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
}

.Photfolio_title{
	position: relative;
	font-family: '나눔고딕Bold', sans-serif;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;

	font-size: 3.75rem;
	color: #bababc;
}

.Photfolio_in{
	position: relative;
	max-width: 1200px;
	margin: auto;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.sq{
	overflow: hidden;
}

.sq_item{
	position: relative;
	float: left;
	width: 25%;
	padding-top: 25%;
}

.sq_blank{
	position: relative;
	float: left;
	width: 10%;
	padding-top: 10%;
}

.sq_item_anchor{
	background-color: orange;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0.1rem;
}

.sq_item_wide{
	width: 40%;
	padding-top: 30%;
}

.sq_item_blank{
	width: 30%;
	padding-top: 30%;
}

.sq_item_long{
	width: 30%;
	padding-top: 40%;
}

.sq_item_float_right{
	float: right;
}

.sq_item_float_left{
	float: left;
}

.sq_item_minusmargin{
	margin-top: -10%;
}

.goKyoto{
	background-image: url(image/GoKyoto.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
}

.goKyoto:hover{
	z-index: 0;
}

.goKyoto_innor{
	opacity: 0;
	z-index: 30;
	background-color: rgba(255,255,255,0.9);

	position: relative;

	width: 100%;
	height: 100%;

	transition: all 0.3s;	
}

.goKyoto_innor_title{
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.goKyoto_innor h1{
	color: #bababc;
	padding-left: 1rem;
	font-size: 4rem;
}

.goKyoto_innor p{
	color: #bababc;
	padding-top: 1rem;
	padding-left: 1.2rem;
	font-size: 1.5rem;
}

.goKyoto_innor:hover{
	opacity: 1;
}

.Photfolio_footer{
	padding-bottom: 100px;
}

@media (max-width: 1000px){
	.bg{
		width: 150%;
		height: 150%;
	}

	.profill_2 h1{
		font-size: 3rem;
	}

	.profill_2 p{
		font-size: 1.8rem;
	}
	.introduce{
		background-image: none;
	}
	.introduce_text_zone h1{
		font-size: 4.75rem;
	}

	.introduce_text_zone_text{
		margin-top: 3.5rem;
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

	.introduce_button_innor{
		font-size: 2.5rem;

		width: 80vw;
		height: 6rem;
		line-height: 6rem;
		background-color: white;

		margin-bottom: 2rem;
	}

	.Photfolio_title{
		font-size: 4.75rem;
	}

	.sq_item{
		position: relative;
		width: 100%;
		padding-top: 30%;
	}

	.sq_item_minusmargin{
		margin-top: 0;
	}

	.sq_item_blank{
		display: none;
	}
}

.footer{
	width: 100%;
	background-color: #d8d7d4;
	text-align: center;

	color: white;
}

.footer_logo{
	display: inline-block;
	margin: 0 auto;
}

.footer_logo img{
	padding-top: 30px;
	padding-bottom: 10px;
}

.footer p{
	padding-top: 20px;
	font-size: 1.1rem;
}

.footer_end{
	padding-bottom: 80px;
}