body{
	font-family: '나눔고딕', sans-serif;
}

/*background option*/
.background{
	width: 100%;
	height: 100%;
	z-index: -100;
}

.layer1, .layer2, .layer3, .layer4, .layer5{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.layer1 {
    background-image: url(image/background_1.png);
    animation: layer1Anim 40s infinite;
}
.layer2 {
    background-image: url(image/background_2.png);
    animation: layer2Anim 40s infinite;
}
.layer3 {
    background-image: url(image/background_3.png);
    animation: layer3Anim 40s infinite;
}
.layer4 {
    background-image: url(image/background_4.png);
    animation: layer4Anim 40s infinite;
}
.layer5 {
    background-image: url(image/background_5.png);
    animation: layer5Anim 40s infinite;
}

@keyframes layer1Anim {
    15%{opacity:1;}
    25%{opacity:1;}
    35%{opacity:0;}
    93%{opacity:0;}
    95%{opacity:1;}
}

@keyframes layer2Anim {
    0%{opacity:0;}
    15%{opacity:0;}
    25%{opacity:1;}
    35%{opacity:1;}
    100%{opacity:0;}
}

@keyframes layer3Anim {
    0%{opacity:0;}
    35%{opacity:0;}
    45%{opacity:1;}
    55%{opacity:1;}
    65%{opacity:0;}
    100%{opacity:0;}
}

@keyframes layer4Anim {
    0%{opacity:0;}
    55%{opacity:0;}
    65%{opacity:1;}
    75%{opacity:1;}
    85%{opacity:0;}
    100%{opacity:0;}
}

@keyframes layer5Anim {
    0%{opacity:0;}
    75%{opacity:0;}
    85%{opacity:1;}
    95%{opacity:1;}
    100%{opacity:0;}
}

.overflow{
	position: relative;
	margin: auto;
	overflow: auto;
	height: 100vh;
}

/*main option*/

.main{
	position: relative;
	max-width: 1600px;
	margin: auto;
	float: center;
	height: 100vh;
	z-index: 1;
}

.logo_main{
	position: absolute;

	max-width: 606px;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	animation: moveanim 1s;
}

@keyframes moveanim{
	from{top:45%; opacity: 0;}
	to{top:50%; opacity: 1;}
}

.logo_main_text{
	font-family: '나눔고딕Bold', sans-serif;
	position: absolute;

	width: 500px;
	left: 50%;
	bottom: 0%;

	transform: translate(-50%, 100%);

	text-align: center;

	font-size: 1.8em;
	color: white;
}

.logo_main_slide_text{
	font-size: 10px;
	line-height: 15px;
	color: white;
	position: absolute;
	width: 130px;

	left: 50%;
	top: 30%;

	transform: translate(-50%, -140%);

	text-align: center;
}

.logo_main_slide{
	position: absolute;
	width: 90px;
	height: 46px;

	left: 50%;
	bottom: 0%;

	transform: translate(-50%, -100%);

	text-align: center;
}

/*intro option*/

.intro{
	position: relative;
	background-image: url(image/intro_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2)
}

.intro_bg{
	background-color: rgba(0,0,0,0.6);
}

.intro_title{
	color: #fff;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 60px;
	text-align: center;

	padding-top: 45px;
	padding-bottom: 45px;
}

.intro_contents{
	position: relative;
	width: 100%;
	height: 307px;

	background-color: rgba(0,0,0,0.6);

	border-top: 1px solid #d0b7a3;
	border-bottom: 1px solid #d0b7a3;
}

.intro_contents_image{
	position: absolute;
	max-width: 756px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -40%);
}

.intro_text{
	position: relative;
	padding-top: 30px;

	font-size: 18px;
	text-align: center;
	color: white;
	line-height: 30px;

	padding-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.intro_Btn{
	padding-bottom: 15px;
	text-align: center;
	margin: auto;
}

.intro_Btn_a{
	position: relative;
	display: inline-block;
	background-color: white;
	text-decoration: none;

	width: 200px;
	height: 60px;
	margin-right: 10px;
	margin-bottom: 30px;

	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
	color: #6b5957;
}

/*main*/
.main_title{
	color: #fff;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 60px;
	text-align: center;

	padding-top: 45px;
	padding-bottom: 45px;

	border-bottom: 1px solid #fff;
}

.sub_title{
	background-color: rgba(255,255,255,0.95);

	color: #6b5957;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 60px;
	text-align: center;

	padding-top: 45px;
	padding-bottom: 45px;

	margin-bottom: -30px;
	border-bottom: 1px solid #6b5957;
}

.main_pg{
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}

.main_bg_margin{
	margin-bottom: 50px;
}

.sub_bg{
	max-width: 100%;
	background-color: rgba(255,255,255,0.95);
	background-attachment: fixed;

	margin-top: 30px;
	padding-bottom: 50px;
	box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2)
}

.contents{
	position: relative;
	overflow: auto;
	margin-right: 20px;
	margin-left: 20px;
}

.contents_title_1{
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 20px;

	color: #fff;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 45px;
}

.contents_title_2{
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 20px;

	color: #6b5957;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 45px;
}

.contents_device{
	position: relative;
	max-width: 1560px;
	margin-left: 20px;
	margin-right: 20px;
}

.contents_device_Bace_1{
	z-index: 10;

	position: relative;
	width: 1000px;
	float: right;

	margin-bottom: 10px;
}

.contents_device_Bace_2{
	z-index: 10;

	position: relative;
	float: left;

	width: 1000px;
	margin-bottom: 10px;
}

.cover{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.contents_Video{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.contents_text_1{
	position: relative;
	display: inline-block;

	width: 380px;

	z-index: 11;
	margin-top: 1rem;

	color: #fff;
	font-size: 1rem;
	line-height: 31px;
}

.contents_text_2{
	position: relative;
	display: inline-block;

	width: 380px;

	z-index: 11;

	color: #6b5957;
	font-size: 1rem;
	line-height: 31px;
}

.contents_text_3{
	position: relative;
	display: inline-block;

	width: 380px;

	z-index: 11;
	margin-top: 1rem;

	color: #6b5957;
	font-size: 1rem;
	line-height: 31px;
}

.main_pg2{
	position: relative;
	max-width: 100%;
	margin: 0 auto;

	background-color: white;
}

/*UXGuide*/
.UXGuide{
	/*background-color: rgba(255,255,255,0.75);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;
	width: 100%;
	padding-bottom: 50px;
}

.UXGuide h2{
	position: relative;
	color: #fff;
	font-family: '나눔고딕Bold', sans-serif;
	font-size: 60px;
	text-align: center;

	padding-top: 45px;
	padding-bottom: 45px;

	border-bottom: 1px solid #fff;
}

.UXGuide img{
	position: relative;
	display: block;

	width: 70%;

	margin: auto;
	margin-top: 30px;
}


@media (min-width: 1500px){
	.contents_text_1{
		float: left;
	}

	.contents_text_2{
		float: right;
	}

	.contents_text_3{
		float: left;
	}
}

@media (max-width: 1500px){
	.intro_text{
		font-size: 1.8em;
		text-align: center;
		color: white;
		line-height: 1.8em;
	}

	.intro_Btn{
		padding-bottom: 1.5em;
	}

	.intro_Btn_a{
		width: 12.5em;
		height: 3.75em;

		line-height: 3.75em;
		font-size: 1.25em;
	}

	.contents_device_Bace_1{
		margin-right: 0px;
		width: 100%;
	}

	.contents_text_1{
		position: relative;
		display: block;
		overflow: auto;
		float: center;

		width: 95%;
		margin: 0 auto;

		z-index: 11;

		margin-top: 1.8em;

		font-size: 1.6em;
		line-height: 1.6em;
	}

	.contents_device_Bace_2{
		width: 100%;
	}

	.contents_text_2{
		position: relative;
		display: block;
		overflow: auto;
		float: center;

		width: 95%;
		margin: 0 auto;

		z-index: 11;

		margin-top: 1.8em;

		font-size: 1.6em;
		line-height: 1.6em;
	}

	.contents_text_3{
		position: relative;
		display: block;
		overflow: auto;
		float: center;

		width: 95%;
		margin: 0 auto;

		z-index: 11;

		margin-top: 1.8em;

		font-size: 1.6em;
		line-height: 1.6em;
	}

	.UXGuide img{
		width: 90%;
	}

}

/*footer*/
.footer{
	background-image: url(image/mockup_1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


	width: 100%;
	height: 500px;
	text-align: center;

	font-size: 1.1rem;
	color: white;
}

.footer_op{
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	z-index: 1;
	width: 100%;
	height: 500px;
}

.footer_logo{
	display: inline-block;
	margin: 0 auto;
	z-index: 10;
}

.footer_logo img{
	padding-top: 30px;
	padding-bottom: 10px;
}

.footer p{
	padding-top: 20px;
	z-index: 10;
}

.footer_end{
	padding-bottom: 80px;
}